<meta charset="utf-8">
<?php
	/**
	*	@author: Anthony Jefferson;
	*	@package: /view/log_clients.php
	*
	* 	Este arquivo controla a criação e a visualização de dados em uma tabela.
	*   (Essa página é uma versão da 'list_common', porém, sem a coluna de ações e sem a mensagem de exclusão de cliente)
	**/

	//Testar se existe conteúdo!

	//Se não existir, ele mostra a label 
	if($table_content == false){
		echo '<br><button class="btn btn-danger">';
		echo ' <i class="fa fa-thumbs-down"></i>';
		echo ' Não existem resultados';
		echo '</button><br><br>';

	//se existir conteúdo, ele cria a tabela
	} else {
?>

		<script type="text/javascript">
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();
			});

			//função para guardar o id no filtro
			function delete_reg(filter){
				$('#value').val(filter);
			}
		</script>

		<!-- CSS p/ compactar a tabela, caso haja muitos dados a serem mostrados -->
		<style type="text/css">
			.div_table {
				overflow-x: auto;
				overflow-y: auto;
				/*margin: 50px;*/
				width: auto;
			}
			td {
				max-width: 300px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				border: 1px solid #cccccc;
			}
		</style>


		<div>
			<table class="table-sm table-hover table-striped" id="data_table">
				<thead style="background-color: black; color: white;" class="table text-center">
					<?php
						//Imprimindo os títulos
						echo '<tr>';
						foreach ($table_titles as $key => $value) {
							echo '<th>',$value,'</th>';
						}
					?>
					<th> Ações </th>
					</tr>
				</thead>

				<tbody>
					<?php
						foreach ($table_content as $key => $value) {
							echo '<tr>';
							foreach ($table_titles as $k => $v) {		
								echo '<td>',$value[$k],'</td>';
							}

							echo '<td class="td_acoes">';

							if(isset($score) && $score == true){
								echo '<a href="'.$score_destiny.'&filter='.($value[$filter]).'" title="Pontuar cliente" class="btn btn-primary btn-xs">';
									//echo '<i class='fas fa-user-check'></i>';
									echo "<i class='fas fa-user-check'></i>";
								echo '</a>&nbsp;';
							}
							
							if(isset($update) && $update == true){
								echo '<a href="'.$update_destiny.'?filter='.($value[$filter]).'" title="'.$sub_edit.'" class="btn btn-warning btn-xs">';
								echo '<i class="'.$icon_edit.'"></i>';
								echo '</a>&nbsp;'; 
							}

							//if(@$value['id_user'] != @$user->id_user){
								if(isset($delete) && $delete == true){
									echo '<a href="#confirmaApagarCampo" class="btn btn-danger btn-xs" data-toggle="modal" id="tooltip" title="'.$sub_del.'" onclick="delete_reg(\'',$value[$filter],'\');">';
									echo '<i class="'.$icon_del.'"></i>';
									echo '</a> ';
								}
							//}

							if(isset($print) && $print == true){
								echo '<a href="/models/print.php?&filter='.base64_encode($value[$filter]).'" target="_BLANK" class="btn btn-primary btn-xs">';
									echo '<i class="fa fa-print"></i>';
								echo '</a>&nbsp;';
							}

							if(isset($block) && $block == true){
								echo '<a href="/models/block.php?&filter='.base64_encode($value[$filter]).'" target="_BLANK" class="btn btn-warning btn-xs">';
									echo '<i class="fa fa-ban"></i>';
								echo '</a>&nbsp;';
							}

							echo '</td>';

							echo '</tr>';
						}
					?>
				</tbody>
			</table>	
		</div>
	<?php
	}
?>